<nav class="main-nav">
	{{ $url := replace .Permalink .Site.BaseURL "" }}
	{{ if not .IsHome }}
		<a href='{{ .Site.BaseURL }}'> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
	{{ end }}

	{{ if ne $url "about/" }}
		<a href='http://sjtug.org/about/'>{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a>
	{{ end }}
	
	{{ if ne $url "news/" }}
		<a href='http://sjtug.org/news/'>{{ with .Site.Params.news }}{{ . }}{{ else }}News{{ end }}</a>
	{{ end }}

	{{ if ne $url "softwares/" }}
		<a href='https://mirrors.sjtug.org/'>{{ with .Site.Params.softwares }}{{ . }}{{ else }}Softwares{{ end }}</a>
	{{ end }}

	{{ if ne $url "contacts/" }}
		<a class="cta" href='http://sjtug.org/contacts/'>{{ with .Site.Params.contacts }}{{ . }}{{ else }}Contacts{{ end }}</a>
	{{ end }}


</nav>
