<nav class="main-nav">
	{{ $url := replace .Permalink .Site.BaseURL "" }}
	{{ if not .IsHome }}
		<a href='{{ .Site.BaseURL }}'> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
	{{ end }}

	{{ if ne $url "about/" }}
    <a href='{{ .Site.BaseURL }}about/'>{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a>
	{{ end }}
	
	{{ if ne $url "post/" }}
    <a href='{{ .Site.BaseURL}}post/'>{{ with .Site.Params.news }}{{ . }}{{ else }}News{{ end }}</a>
	{{ end }}

	{{ if ne $url "softwares/" }}
		<a href='https://mirrors.sjtug.sjtu.edu.cn/'>{{ with .Site.Params.softwares }}{{ . }}{{ else }}Softwares{{ end }}</a>
	{{ end }}

	{{ if ne $url "contacts/" }}
    <a class="cta" id="join" href='{{ .Site.BaseURL}}contacts/'>{{ with .Site.Params.contacts }}{{ . }}{{ else }}Contacts{{ end }}</a>
	{{ end }}

</nav>
