{{ $news := where .Site.Taxonomies.tags.news "Page.Params.hidden" "ne" "true" }}
<ul id="post-list">
    {{ range ((.Paginate $news).Pages) }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
            <li>
                <a href='{{ .Permalink }}'><aside class="dates">{{ .Date.Format "Jan 2" }}</aside></a>
                <a href='{{ .Permalink }}'>{{ .Title }} <h2>{{ .Description | markdownify }}</h2></a>
                <div class="list-image-wrapper">
                {{ if .Params.image }}<img src='{{ .Site.BaseURL }}/images/{{ .Params.image }}'> {{ end }}
            </div>
            </li>
    {{ end }}
</ul>
