<ul id="post-list">
    {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if and (ne $url "about/") (.Params.news) }}

            <li>
                <a href='{{ .Permalink }}'><aside class="dates">{{ .Date.Format "Jan 2" }}</aside></a>
                <a href='{{ .Permalink }}'>{{ .Title }} <h2>{{ .Description | markdownify }}</h2></a>
                <img src='{{ .Site.BaseURL }}/images/{{ .Params.image }}'>
            </li>
        {{ end }}
    {{ end }}
</ul>
